In [2]:
import pandas as pd

In [4]:
task_a_en_df = pd.read_csv('../data/task-a-en.tsv', sep="\t")

In [5]:
task_a_en_df.shape

(1200, 4)

In [12]:
task_a_en_two_words = task_a_en_df[(task_a_en_df['word1'].str.len() != 1) & (task_a_en_df['word1'].str.len() != 1)]

task_a_en_two_words[['word1', 'word2']]

      word1       word2
100   spray       chair
101  hammer      banana
102    move      fridge
103  hammer     pumpkin
104    peel     pumpkin
..      ...         ...
195    wash       chair
196  hammer  watermelon
197   spray        eggs
198   shake      flower
199    move        tree

[100 rows x 2 columns]

In [13]:
task_a_en_title = task_a_en_df[~((task_a_en_df['word1'].str.len() != 1) & (task_a_en_df['word1'].str.len() != 1))]

task_a_en_title = task_a_en_title[['headline']]

In [17]:
task_a_en_title.to_csv('../data/task-a-title.csv', sep="\t")